body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

main h1 {
    margin-top: 10px;
}

.parallax {
    background: url("../resources/images/courses1.jpeg");
    width: 100%;
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div + div {
    height:600px;
    background-color: rgb(213, 221, 234);
    font-size:36px
}